
<h1 id="daylight-title">Daylight</h1>

<div id="daylight-app">
  <div class="row">
    <div id="morning" class="box col-md-3 col-md-offset-1" onclick="passTime(this)">Morning</div>
    <div id="afternoon" class="box col-md-3 col-md-offset-1" onclick="passTime(this)">Afternoon</div>
    <div id="evening" class="box col-md-3 col-md-offset-1" onclick="passTime(this)">Evening</div>
  </div>
</div>
