<h1>Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3  onClick="threeFn(0)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onClick="threeFn(1)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onClick="threeFn(2)"> </div>
  </div>
  
</div>
